In [1]:
import pandas as pd

In [2]:
# Load in file and read in the CSV
weather_file = "cloudy_updated.csv"
weather_pd = pd.read_csv(weather_file)
weather_pd.head()

,Station,Location,Year,CL_Jan,PC_Jan,CD_Jan,CL_Feb,PC_Feb,CD_Feb,CL_Mar,...,CD_Oct,CL_Nov,PC_Nov,CD_Nov,CL_Dec,PC_Dec,CD_Dec,CL_Annual,PC_Annual,CD_Annual
0,13876,"BIRMINGHAM ,AL",37,7,6,18,7,6,15,7,...,9,10,7,13,8,7,16,99,111,155
1,3856,"HUNTSVILLE, AL",27,7,6,18,7,6,16,7,...,12,9,7,14,8,6,18,100,101,164
2,13894,"MOBILE, AL",47,8,6,17,8,7,14,9,...,9,11,7,12,9,6,16,102,116,147
3,13895,"MONTGOMERY, AL",51,7,6,17,8,6,14,8,...,10,11,6,13,9,6,16,107,107,151
4,26451,"ANCHORAGE, AK",44,7,5,19,6,4,18,8,...,21,6,5,20,6,4,21,61,65,239

In [3]:
# Using concat to break apart "Location" into 2 columns and splitting by comma
weather_pd=pd.concat([weather_pd,weather_pd.Location.str.split(',',expand=True)],1)
weather_pd.head()

,Station,Location,Year,CL_Jan,PC_Jan,CD_Jan,CL_Feb,PC_Feb,CD_Feb,CL_Mar,...,PC_Nov,CD_Nov,CL_Dec,PC_Dec,CD_Dec,CL_Annual,PC_Annual,CD_Annual,0,1
0,13876,"BIRMINGHAM ,AL",37,7,6,18,7,6,15,7,...,7,13,8,7,16,99,111,155,BIRMINGHAM,AL
1,3856,"HUNTSVILLE, AL",27,7,6,18,7,6,16,7,...,7,14,8,6,18,100,101,164,HUNTSVILLE,AL
2,13894,"MOBILE, AL",47,8,6,17,8,7,14,9,...,7,12,9,6,16,102,116,147,MOBILE,AL
3,13895,"MONTGOMERY, AL",51,7,6,17,8,6,14,8,...,6,13,9,6,16,107,107,151,MONTGOMERY,AL
4,26451,"ANCHORAGE, AK",44,7,5,19,6,4,18,8,...,5,20,6,4,21,61,65,239,ANCHORAGE,AK

In [4]:
#Renaming new columns
weather_pd = weather_pd.rename(columns={0: "City", 1: "State"})
weather_pd.head()

,Station,Location,Year,CL_Jan,PC_Jan,CD_Jan,CL_Feb,PC_Feb,CD_Feb,CL_Mar,...,PC_Nov,CD_Nov,CL_Dec,PC_Dec,CD_Dec,CL_Annual,PC_Annual,CD_Annual,City,State
0,13876,"BIRMINGHAM ,AL",37,7,6,18,7,6,15,7,...,7,13,8,7,16,99,111,155,BIRMINGHAM,AL
1,3856,"HUNTSVILLE, AL",27,7,6,18,7,6,16,7,...,7,14,8,6,18,100,101,164,HUNTSVILLE,AL
2,13894,"MOBILE, AL",47,8,6,17,8,7,14,9,...,7,12,9,6,16,102,116,147,MOBILE,AL
3,13895,"MONTGOMERY, AL",51,7,6,17,8,6,14,8,...,6,13,9,6,16,107,107,151,MONTGOMERY,AL
4,26451,"ANCHORAGE, AK",44,7,5,19,6,4,18,8,...,5,20,6,4,21,61,65,239,ANCHORAGE,AK

In [5]:
# Checking the names of all of the columns
weather_pd.columns

Index(['Station', 'Location', 'Year', 'CL_Jan', 'PC_Jan', 'CD_Jan', 'CL_Feb',
       'PC_Feb', 'CD_Feb', 'CL_Mar', 'PC_Mar', 'CD_Mar', 'CL_Apr', 'PC_Apr',
       'CD_Apr', 'CL_May', 'PC_May', 'CD_May', 'CL_Jun', 'PC_Jun', 'CD_Jun',
       'CL_Jul', 'PC_Jul', 'CD_Jul', 'CL_Aug', 'PC_Aug', 'CD_Aug', 'CL_Sep',
       'PC_Sep', 'CD_Sep', 'CL_Oct', 'PC_Oct', 'CD_Oct', 'CL_Nov', 'PC_Nov',
       'CD_Nov', 'CL_Dec', 'PC_Dec', 'CD_Dec', 'CL_Annual', 'PC_Annual',
       'CD_Annual', 'City', 'State'],
      dtype='object')

In [6]:
# Checking to see if every column has the same amount of entries
weather_pd.count()

Station      270
Location     270
Year         270
CL_Jan       270
PC_Jan       270
CD_Jan       270
CL_Feb       270
PC_Feb       270
CD_Feb       270
CL_Mar       270
PC_Mar       270
CD_Mar       270
CL_Apr       270
PC_Apr       270
CD_Apr       270
CL_May       270
PC_May       270
CD_May       270
CL_Jun       270
PC_Jun       270
CD_Jun       270
CL_Jul       270
PC_Jul       270
CD_Jul       270
CL_Aug       270
PC_Aug       270
CD_Aug       270
CL_Sep       270
PC_Sep       270
CD_Sep       270
CL_Oct       270
PC_Oct       270
CD_Oct       270
CL_Nov       270
PC_Nov       270
CD_Nov       270
CL_Dec       270
PC_Dec       270
CD_Dec       270
CL_Annual    270
PC_Annual    270
CD_Annual    270
City         270
State        266
dtype: int64

In [7]:
#Dropping rows with missing cells
weather_pd.dropna(inplace = True) 
weather_pd.count()

Station      266
Location     266
Year         266
CL_Jan       266
PC_Jan       266
CD_Jan       266
CL_Feb       266
PC_Feb       266
CD_Feb       266
CL_Mar       266
PC_Mar       266
CD_Mar       266
CL_Apr       266
PC_Apr       266
CD_Apr       266
CL_May       266
PC_May       266
CD_May       266
CL_Jun       266
PC_Jun       266
CD_Jun       266
CL_Jul       266
PC_Jul       266
CD_Jul       266
CL_Aug       266
PC_Aug       266
CD_Aug       266
CL_Sep       266
PC_Sep       266
CD_Sep       266
CL_Oct       266
PC_Oct       266
CD_Oct       266
CL_Nov       266
PC_Nov       266
CD_Nov       266
CL_Dec       266
PC_Dec       266
CD_Dec       266
CL_Annual    266
PC_Annual    266
CD_Annual    266
City         266
State        266
dtype: int64

In [8]:
#Checking to see the column types
weather_pd.dtypes

Station       int64
Location     object
Year         object
CL_Jan       object
PC_Jan        int64
CD_Jan        int64
CL_Feb       object
PC_Feb        int64
CD_Feb        int64
CL_Mar       object
PC_Mar        int64
CD_Mar        int64
CL_Apr       object
PC_Apr        int64
CD_Apr        int64
CL_May       object
PC_May        int64
CD_May        int64
CL_Jun       object
PC_Jun        int64
CD_Jun        int64
CL_Jul       object
PC_Jul        int64
CD_Jul        int64
CL_Aug       object
PC_Aug        int64
CD_Aug        int64
CL_Sep       object
PC_Sep        int64
CD_Sep        int64
CL_Oct       object
PC_Oct        int64
CD_Oct        int64
CL_Nov       object
PC_Nov        int64
CD_Nov        int64
CL_Dec       object
PC_Dec        int64
CD_Dec        int64
CL_Annual     int64
PC_Annual     int64
CD_Annual     int64
City         object
State        object
dtype: object

In [9]:
#Checking to see unique calues in each column
weather_pd.CL_Jan.unique()

array(['7', '8', '4', '6', '15', '14', '2', '9', '5', '11', '10', '12',
       '13', '3', '1', '*', '0'], dtype=object)

In [10]:
#Checking to see unique calues in each column
weather_pd.CL_Feb.unique()

array(['7', '8', '6', '3', '12', '10', '5', '2', '4', '9', '11', '13',
       '15', '14', '*', '1', '0'], dtype=object)

In [11]:
#Checking to see unique calues in each column
weather_pd.CL_Mar.unique()

array(['7', '9', '8', '4', '14', '2', '10', '6', '12', '11', '3', '5',
       '15', '13', '17', '1', '*'], dtype=object)

In [12]:
# Checking to see what rows have * instead of numbers
weather_pd.loc[weather_pd["CL_Jan"]=="*"]

,Station,Location,Year,CL_Jan,PC_Jan,CD_Jan,CL_Feb,PC_Feb,CD_Feb,CL_Mar,...,PC_Nov,CD_Nov,CL_Dec,PC_Dec,CD_Dec,CL_Annual,PC_Annual,CD_Annual,City,State
261,40309,"KOROR, PC",53,*,7,23,*,7,21,1,...,8,22,*,7,24,4,86,273,KOROR,PC
265,40504,"POHNPEI- CAROLINE IS., PC",53,*,4,26,*,4,24,*,...,6,24,*,5,26,2,64,298,POHNPEI- CAROLINE IS.,PC
266,40505,"CHUUK- E. CAROLINE IS., P",C 54,*,4,27,*,3,25,*,...,4,26,*,3,28,0,45,318,CHUUK- E. CAROLINE IS.,P

In [13]:
weather_pd.loc[weather_pd["CL_Feb"]=="*"]

,Station,Location,Year,CL_Jan,PC_Jan,CD_Jan,CL_Feb,PC_Feb,CD_Feb,CL_Mar,...,PC_Nov,CD_Nov,CL_Dec,PC_Dec,CD_Dec,CL_Annual,PC_Annual,CD_Annual,City,State
261,40309,"KOROR, PC",53,*,7,23,*,7,21,1,...,8,22,*,7,24,4,86,273,KOROR,PC
265,40504,"POHNPEI- CAROLINE IS., PC",53,*,4,26,*,4,24,*,...,6,24,*,5,26,2,64,298,POHNPEI- CAROLINE IS.,PC
266,40505,"CHUUK- E. CAROLINE IS., P",C 54,*,4,27,*,3,25,*,...,4,26,*,3,28,0,45,318,CHUUK- E. CAROLINE IS.,P

In [14]:
weather_pd.loc[weather_pd["CL_Mar"]=="*"]

,Station,Location,Year,CL_Jan,PC_Jan,CD_Jan,CL_Feb,PC_Feb,CD_Feb,CL_Mar,...,PC_Nov,CD_Nov,CL_Dec,PC_Dec,CD_Dec,CL_Annual,PC_Annual,CD_Annual,City,State
265,40504,"POHNPEI- CAROLINE IS., PC",53,*,4,26,*,4,24,*,...,6,24,*,5,26,2,64,298,POHNPEI- CAROLINE IS.,PC
266,40505,"CHUUK- E. CAROLINE IS., P",C 54,*,4,27,*,3,25,*,...,4,26,*,3,28,0,45,318,CHUUK- E. CAROLINE IS.,P

In [15]:
weather_pd.loc[weather_pd["CL_Apr"]=="*"]

,Station,Location,Year,CL_Jan,PC_Jan,CD_Jan,CL_Feb,PC_Feb,CD_Feb,CL_Mar,...,PC_Nov,CD_Nov,CL_Dec,PC_Dec,CD_Dec,CL_Annual,PC_Annual,CD_Annual,City,State
265,40504,"POHNPEI- CAROLINE IS., PC",53,*,4,26,*,4,24,*,...,6,24,*,5,26,2,64,298,POHNPEI- CAROLINE IS.,PC
266,40505,"CHUUK- E. CAROLINE IS., P",C 54,*,4,27,*,3,25,*,...,4,26,*,3,28,0,45,318,CHUUK- E. CAROLINE IS.,P

In [16]:
weather_pd.loc[weather_pd["CL_May"]=="*"]

,Station,Location,Year,CL_Jan,PC_Jan,CD_Jan,CL_Feb,PC_Feb,CD_Feb,CL_Mar,...,PC_Nov,CD_Nov,CL_Dec,PC_Dec,CD_Dec,CL_Annual,PC_Annual,CD_Annual,City,State
10,25624,"COLD BAY,AK",42,2,5,23,2,5,22,2,...,6,23,2,5,24,10,50,304,COLD BAY,AK
265,40504,"POHNPEI- CAROLINE IS., PC",53,*,4,26,*,4,24,*,...,6,24,*,5,26,2,64,298,POHNPEI- CAROLINE IS.,PC
266,40505,"CHUUK- E. CAROLINE IS., P",C 54,*,4,27,*,3,25,*,...,4,26,*,3,28,0,45,318,CHUUK- E. CAROLINE IS.,P

In [17]:
weather_pd.loc[weather_pd["CL_Jun"]=="*"]

,Station,Location,Year,CL_Jan,PC_Jan,CD_Jan,CL_Feb,PC_Feb,CD_Feb,CL_Mar,...,PC_Nov,CD_Nov,CL_Dec,PC_Dec,CD_Dec,CL_Annual,PC_Annual,CD_Annual,City,State
10,25624,"COLD BAY,AK",42,2,5,23,2,5,22,2,...,6,23,2,5,24,10,50,304,COLD BAY,AK
261,40309,"KOROR, PC",53,*,7,23,*,7,21,1,...,8,22,*,7,24,4,86,273,KOROR,PC
263,40710,"MAJURO- MARSHALL IS, PC",49,1,7,23,1,8,19,1,...,7,23,1,6,24,7,86,271,MAJURO- MARSHALL IS,PC
265,40504,"POHNPEI- CAROLINE IS., PC",53,*,4,26,*,4,24,*,...,6,24,*,5,26,2,64,298,POHNPEI- CAROLINE IS.,PC
266,40505,"CHUUK- E. CAROLINE IS., P",C 54,*,4,27,*,3,25,*,...,4,26,*,3,28,0,45,318,CHUUK- E. CAROLINE IS.,P
268,40308,"YAP- W CAROLINE IS., PC",56,1,8,22,0,8,20,1,...,8,21,0,9,22,5,90,270,YAP- W CAROLINE IS.,PC

In [18]:
weather_pd.loc[weather_pd["CL_Jul"]=="*"]

,Station,Location,Year,CL_Jan,PC_Jan,CD_Jan,CL_Feb,PC_Feb,CD_Feb,CL_Mar,...,PC_Nov,CD_Nov,CL_Dec,PC_Dec,CD_Dec,CL_Annual,PC_Annual,CD_Annual,City,State
9,26415,"BIG DELTA,AK",3,14,8,9,5,7,17,8,...,6,17,7,7,17,60,93,212,BIG DELTA,AK
10,25624,"COLD BAY,AK",42,2,5,23,2,5,22,2,...,6,23,2,5,24,10,50,304,COLD BAY,AK
259,41415,"GUAM, PC",20,3,13,15,2,10,16,3,...,13,15,3,12,16,16,134,215,GUAM,PC
261,40309,"KOROR, PC",53,*,7,23,*,7,21,1,...,8,22,*,7,24,4,86,273,KOROR,PC
266,40505,"CHUUK- E. CAROLINE IS., P",C 54,*,4,27,*,3,25,*,...,4,26,*,3,28,0,45,318,CHUUK- E. CAROLINE IS.,P

In [19]:
weather_pd.loc[weather_pd["CL_Aug"]=="*"]

,Station,Location,Year,CL_Jan,PC_Jan,CD_Jan,CL_Feb,PC_Feb,CD_Feb,CL_Mar,...,PC_Nov,CD_Nov,CL_Dec,PC_Dec,CD_Dec,CL_Annual,PC_Annual,CD_Annual,City,State
10,25624,"COLD BAY,AK",42,2,5,23,2,5,22,2,...,6,23,2,5,24,10,50,304,COLD BAY,AK
261,40309,"KOROR, PC",53,*,7,23,*,7,21,1,...,8,22,*,7,24,4,86,273,KOROR,PC
266,40505,"CHUUK- E. CAROLINE IS., P",C 54,*,4,27,*,3,25,*,...,4,26,*,3,28,0,45,318,CHUUK- E. CAROLINE IS.,P
268,40308,"YAP- W CAROLINE IS., PC",56,1,8,22,0,8,20,1,...,8,21,0,9,22,5,90,270,YAP- W CAROLINE IS.,PC

In [20]:
weather_pd.loc[weather_pd["CL_Sep"]=="*"]

,Station,Location,Year,CL_Jan,PC_Jan,CD_Jan,CL_Feb,PC_Feb,CD_Feb,CL_Mar,...,PC_Nov,CD_Nov,CL_Dec,PC_Dec,CD_Dec,CL_Annual,PC_Annual,CD_Annual,City,State
10,25624,"COLD BAY,AK",42,2,5,23,2,5,22,2,...,6,23,2,5,24,10,50,304,COLD BAY,AK
259,41415,"GUAM, PC",20,3,13,15,2,10,16,3,...,13,15,3,12,16,16,134,215,GUAM,PC
261,40309,"KOROR, PC",53,*,7,23,*,7,21,1,...,8,22,*,7,24,4,86,273,KOROR,PC
266,40505,"CHUUK- E. CAROLINE IS., P",C 54,*,4,27,*,3,25,*,...,4,26,*,3,28,0,45,318,CHUUK- E. CAROLINE IS.,P
268,40308,"YAP- W CAROLINE IS., PC",56,1,8,22,0,8,20,1,...,8,21,0,9,22,5,90,270,YAP- W CAROLINE IS.,PC

In [21]:
weather_pd.loc[weather_pd["CL_Oct"]=="*"]

,Station,Location,Year,CL_Jan,PC_Jan,CD_Jan,CL_Feb,PC_Feb,CD_Feb,CL_Mar,...,PC_Nov,CD_Nov,CL_Dec,PC_Dec,CD_Dec,CL_Annual,PC_Annual,CD_Annual,City,State
259,41415,"GUAM, PC",20,3,13,15,2,10,16,3,...,13,15,3,12,16,16,134,215,GUAM,PC
266,40505,"CHUUK- E. CAROLINE IS., P",C 54,*,4,27,*,3,25,*,...,4,26,*,3,28,0,45,318,CHUUK- E. CAROLINE IS.,P

In [22]:
weather_pd.loc[weather_pd["CL_Nov"]=="*"]

,Station,Location,Year,CL_Jan,PC_Jan,CD_Jan,CL_Feb,PC_Feb,CD_Feb,CL_Mar,...,PC_Nov,CD_Nov,CL_Dec,PC_Dec,CD_Dec,CL_Annual,PC_Annual,CD_Annual,City,State
261,40309,"KOROR, PC",53,*,7,23,*,7,21,1,...,8,22,*,7,24,4,86,273,KOROR,PC
265,40504,"POHNPEI- CAROLINE IS., PC",53,*,4,26,*,4,24,*,...,6,24,*,5,26,2,64,298,POHNPEI- CAROLINE IS.,PC
266,40505,"CHUUK- E. CAROLINE IS., P",C 54,*,4,27,*,3,25,*,...,4,26,*,3,28,0,45,318,CHUUK- E. CAROLINE IS.,P
268,40308,"YAP- W CAROLINE IS., PC",56,1,8,22,0,8,20,1,...,8,21,0,9,22,5,90,270,YAP- W CAROLINE IS.,PC

In [23]:
weather_pd["CL_Dec"].dtype

dtype('O')

In [24]:
weather_pd.head(269)

,Station,Location,Year,CL_Jan,PC_Jan,CD_Jan,CL_Feb,PC_Feb,CD_Feb,CL_Mar,...,PC_Nov,CD_Nov,CL_Dec,PC_Dec,CD_Dec,CL_Annual,PC_Annual,CD_Annual,City,State
0,13876,"BIRMINGHAM ,AL",37,7,6,18,7,6,15,7,...,7,13,8,7,16,99,111,155,BIRMINGHAM,AL
1,3856,"HUNTSVILLE, AL",27,7,6,18,7,6,16,7,...,7,14,8,6,18,100,101,164,HUNTSVILLE,AL
2,13894,"MOBILE, AL",47,8,6,17,8,7,14,9,...,7,12,9,6,16,102,116,147,MOBILE,AL
3,13895,"MONTGOMERY, AL",51,7,6,17,8,6,14,8,...,6,13,9,6,16,107,107,151,MONTGOMERY,AL
4,26451,"ANCHORAGE, AK",44,7,5,19,6,4,18,8,...,5,20,6,4,21,61,65,239,ANCHORAGE,AK
5,25308,"ANNETTE, AK",41,4,4,23,3,4,21,4,...,3,24,3,4,24,40,60,265,ANNETTE,AK
6,27502,"BARROW, AK",54,6,2,3,12,6,11,14,...,3,11,4,0,0,66,52,187,BARROW,AK
7,26615,"BETHEL, AK",34,8,5,18,10,4,14,9,...,5,19,8,5,18,62,65,239,BETHEL,AK
8,26533,"BETTLES,AK",5,15,5,11,10,4,14,9,...,6,14,9,7,15,86,93,187,BETTLES,AK
9,26415,"BIG DELTA,AK",3,14,8,9,5,7,17,8,...,6,17,7,7,17,60,93,212,BIG DELTA,AK
10,25624,"COLD BAY,AK",42,2,5,23,2,5,22,2,...,6,23,2,5,24,10,50,304,COLD BAY,AK
11,26411,"FAIRBANKS, AK",45,9,6,16,8,6,14,10,...,5,18,7,6,18,70,86,210,FAIRBANKS,AK
12,26425,"GULKANA,AK",5,15,4,12,6,4,18,9,...,5,21,7,7,17,67,89,209,GULKANA,AK
13,25507,"HOMER, AK",15,8,4,19,7,4,17,6,...,5,19,7,5,18,65,75,225,HOMER,AK
14,25309,"JUNEAU, AK",47,6,3,23,4,3,21,4,...,2,24,3,2,25,44,41,280,JUNEAU,AK
15,25503,"KING SALMON, AK",42,8,5,18,7,5,16,8,...,5,19,7,6,19,51,69,245,KING SALMON,AK
16,25501,"KODIAK, AK",25,5,6,20,6,5,18,6,...,7,16,6,6,19,59,74,232,KODIAK,AK
17,26616,"KOTZEBUE, AK",52,11,4,16,12,3,13,12,...,4,17,11,4,16,100,72,193,KOTZEBUE,AK
18,26510,"MCGRATH, AK",55,9,5,17,9,4,15,9,...,4,19,8,5,19,67,72,226,MCGRATH,AK
19,26617,"NOME, AK",51,10,4,17,12,4,13,11,...,4,18,10,4,17,91,69,205,NOME,AK
20,25713,"ST. PAUL ISLAND, AK",66,2,6,23,3,6,20,3,...,6,22,1,5,24,18,61,287,ST. PAUL ISLAND,AK
21,26528,"TALKEETNA, AK",10,6,4,21,8,4,16,9,...,3,19,5,2,22,67,67,225,TALKEETNA,AK
22,26627,"UNALAKLEET, AK",4,8,4,20,10,3,15,10,...,5,18,11,4,16,83,67,215,UNALAKLEET,AK
23,26442,"VALDEZ, AK",26,5,4,21,5,3,20,8,...,4,20,5,3,23,57,57,251,VALDEZ,AK
24,25339,"YAKUTAT, AK",48,5,3,22,4,3,21,5,...,3,23,4,3,24,41,46,278,YAKUTAT,AK
25,3103,"FLAGSTAFF, AZ",43,12,6,12,11,6,11,12,...,7,8,14,6,11,162,102,102,FLAGSTAFF,AZ
26,23183,"PHOENIX, AZ",57,14,7,10,13,7,9,14,...,6,6,15,6,9,211,85,70,PHOENIX,AZ
27,23160,"TUCSON, AZ",55,14,7,10,13,7,9,15,...,6,6,15,6,10,193,91,81,TUCSON,AZ
28,23194,"WINSLOW, AZ",37,12,7,12,12,7,10,13,...,6,8,14,7,10,177,99,89,WINSLOW,AZ
29,23195,"YUMA, AZ",32,15,7,9,15,7,6,17,...,6,5,17,7,8,242,71,52,YUMA,AZ
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
240,13741,"ROANOKE, VA",48,8,8,15,8,7,14,8,...,8,13,9,8,14,102,112,151,ROANOKE,VA
241,24227,"OLYMPIA, WA",54,2,4,25,2,4,22,3,...,5,23,2,4,26,52,84,228,OLYMPIA,WA
242,94240,"QUILLAYUTE, WA",29,3,3,24,4,4,21,4,...,5,22,4,4,24,51,75,239,QUILLAYUTE,WA
243,24281,"SEATTLE C.O., WA",24,3,5,23,3,6,19,4,...,6,21,3,5,23,71,93,201,SEATTLE C.O.,WA
244,24233,"SEATTLE SEA-TAC AP, WA",51,3,4,24,3,4,21,3,...,4,23,2,4,25,58,82,226,SEATTLE SEA-TAC AP,WA
245,24157,"SPOKANE, WA",48,3,4,24,3,5,20,5,...,5,22,3,4,24,86,88,191,SPOKANE,WA
246,24243,"YAKIMA, WA",49,4,5,22,4,6,18,6,...,6,19,4,5,22,109,92,164,YAKIMA,WA
247,3872,"BECKLEY, WV",32,5,5,21,4,5,18,5,...,7,18,5,6,21,60,95,210,BECKLEY,WV
248,13866,"CHARLESTON, WV",47,4,6,21,4,6,18,5,...,7,18,5,6,20,65,111,189,CHARLESTON,WV
249,13729,"ELKINS, WV",49,3,6,22,3,6,19,4,...,6,19,4,5,21,48,103,212,ELKINS,WV
250,3860,"HUNTINGTON, WV",34,4,6,21,4,5,19,5,...,6,19,5,5,21,63,99,203,HUNTINGTON,WV
251,14898,"GREEN BAY, WI",46,8,7,17,7,7,15,7,...,6,19,6,6,19,85,102,178,GREEN BAY,WI
252,14920,"LA CROSSE, WI",17,7,7,17,8,7,13,7,...,6,18,7,6,18,95,97,173,LA CROSSE,WI
253,14837,"MADISON, WI",49,7,6,17,7,6,15,6,...,6,18,6,6,19,89,96,180,MADISON,WI
254,14839,"MILWAUKEE, WI",55,7,6,18,6,6,15,6,...,6,18,6,6,19,90,100,175,MILWAUKEE,WI
255,24089,"CASPER, WY",45,7,8,16,6,8,14,6,...,8,14,8,8,15,107,111,147,CASPER,WY
256,24018,"CHEYENNE, WY",60,9,10,13,7,9,12,7,...,9,11,9,9,13,106,127,133,CHEYENNE,WY
257,24021,"LANDER, WY",49,8,10,13,7,10,12,7,...,10,12,10,10,12,114,122,129,LANDER,WY
258,24029,"SHERIDAN, WY",55,6,8,17,5,8,15,5,...,8,16,7,8,17,95,113,157,SHERIDAN,WY
259,41415,"GUAM, PC",20,3,13,15,2,10,16,3,...,13,15,3,12,16,16,134,215,GUAM,PC
260,21603,"JOHNSTON ISLAND, PC",24,13,14,4,11,13,4,11,...,12,12,11,13,7,99,159,107,JOHNSTON ISLAND,PC
261,40309,"KOROR, PC",53,*,7,23,*,7,21,1,...,8,22,*,7,24,4,86,273,KOROR,PC
262,40604,"KWAJALEIN- MARSHALL IS.,",PC 44,2,7,21,2,6,20,2,...,6,23,2,6,23,17,76,272,KWAJALEIN- MARSHALL IS.,
263,40710,"MAJURO- MARSHALL IS, PC",49,1,7,23,1,8,19,1,...,7,23,1,6,24,7,86,271,MAJURO- MARSHALL IS,PC
264,61705,"PAGO PAGO- AMER SAMOA, PC",39,0,10,21,0,9,18,1,...,11,18,1,10,20,12,151,202,PAGO PAGO- AMER SAMOA,PC
265,40504,"POHNPEI- CAROLINE IS., PC",53,*,4,26,*,4,24,*,...,6,24,*,5,26,2,64,298,POHNPEI- CAROLINE IS.,PC
266,40505,"CHUUK- E. CAROLINE IS., P",C 54,*,4,27,*,3,25,*,...,4,26,*,3,28,0,45,318,CHUUK- E. CAROLINE IS.,P
267,41606,"WAKE ISLAND, PC",43,12,13,5,12,11,5,12,...,13,5,14,13,4,121,149,94,WAKE ISLAND,PC
268,40308,"YAP- W CAROLINE IS., PC",56,1,8,22,0,8,20,1,...,8,21,0,9,22,5,90,270,YAP- W CAROLINE IS.,PC
269,11641,"SAN JUAN, PR",40,9,18,4,7,16,4,9,...,18,7,7,18,6,73,203,89,SAN JUAN,PR

In [25]:
weather_pd.drop([9,10,258, 259, 260, 261, 262, 263, 264, 265, 266, 267, 268, 269], inplace=True)

In [26]:
weather_pd.head(256)

,Station,Location,Year,CL_Jan,PC_Jan,CD_Jan,CL_Feb,PC_Feb,CD_Feb,CL_Mar,...,PC_Nov,CD_Nov,CL_Dec,PC_Dec,CD_Dec,CL_Annual,PC_Annual,CD_Annual,City,State
0,13876,"BIRMINGHAM ,AL",37,7,6,18,7,6,15,7,...,7,13,8,7,16,99,111,155,BIRMINGHAM,AL
1,3856,"HUNTSVILLE, AL",27,7,6,18,7,6,16,7,...,7,14,8,6,18,100,101,164,HUNTSVILLE,AL
2,13894,"MOBILE, AL",47,8,6,17,8,7,14,9,...,7,12,9,6,16,102,116,147,MOBILE,AL
3,13895,"MONTGOMERY, AL",51,7,6,17,8,6,14,8,...,6,13,9,6,16,107,107,151,MONTGOMERY,AL
4,26451,"ANCHORAGE, AK",44,7,5,19,6,4,18,8,...,5,20,6,4,21,61,65,239,ANCHORAGE,AK
5,25308,"ANNETTE, AK",41,4,4,23,3,4,21,4,...,3,24,3,4,24,40,60,265,ANNETTE,AK
6,27502,"BARROW, AK",54,6,2,3,12,6,11,14,...,3,11,4,0,0,66,52,187,BARROW,AK
7,26615,"BETHEL, AK",34,8,5,18,10,4,14,9,...,5,19,8,5,18,62,65,239,BETHEL,AK
8,26533,"BETTLES,AK",5,15,5,11,10,4,14,9,...,6,14,9,7,15,86,93,187,BETTLES,AK
11,26411,"FAIRBANKS, AK",45,9,6,16,8,6,14,10,...,5,18,7,6,18,70,86,210,FAIRBANKS,AK
12,26425,"GULKANA,AK",5,15,4,12,6,4,18,9,...,5,21,7,7,17,67,89,209,GULKANA,AK
13,25507,"HOMER, AK",15,8,4,19,7,4,17,6,...,5,19,7,5,18,65,75,225,HOMER,AK
14,25309,"JUNEAU, AK",47,6,3,23,4,3,21,4,...,2,24,3,2,25,44,41,280,JUNEAU,AK
15,25503,"KING SALMON, AK",42,8,5,18,7,5,16,8,...,5,19,7,6,19,51,69,245,KING SALMON,AK
16,25501,"KODIAK, AK",25,5,6,20,6,5,18,6,...,7,16,6,6,19,59,74,232,KODIAK,AK
17,26616,"KOTZEBUE, AK",52,11,4,16,12,3,13,12,...,4,17,11,4,16,100,72,193,KOTZEBUE,AK
18,26510,"MCGRATH, AK",55,9,5,17,9,4,15,9,...,4,19,8,5,19,67,72,226,MCGRATH,AK
19,26617,"NOME, AK",51,10,4,17,12,4,13,11,...,4,18,10,4,17,91,69,205,NOME,AK
20,25713,"ST. PAUL ISLAND, AK",66,2,6,23,3,6,20,3,...,6,22,1,5,24,18,61,287,ST. PAUL ISLAND,AK
21,26528,"TALKEETNA, AK",10,6,4,21,8,4,16,9,...,3,19,5,2,22,67,67,225,TALKEETNA,AK
22,26627,"UNALAKLEET, AK",4,8,4,20,10,3,15,10,...,5,18,11,4,16,83,67,215,UNALAKLEET,AK
23,26442,"VALDEZ, AK",26,5,4,21,5,3,20,8,...,4,20,5,3,23,57,57,251,VALDEZ,AK
24,25339,"YAKUTAT, AK",48,5,3,22,4,3,21,5,...,3,23,4,3,24,41,46,278,YAKUTAT,AK
25,3103,"FLAGSTAFF, AZ",43,12,6,12,11,6,11,12,...,7,8,14,6,11,162,102,102,FLAGSTAFF,AZ
26,23183,"PHOENIX, AZ",57,14,7,10,13,7,9,14,...,6,6,15,6,9,211,85,70,PHOENIX,AZ
27,23160,"TUCSON, AZ",55,14,7,10,13,7,9,15,...,6,6,15,6,10,193,91,81,TUCSON,AZ
28,23194,"WINSLOW, AZ",37,12,7,12,12,7,10,13,...,6,8,14,7,10,177,99,89,WINSLOW,AZ
29,23195,"YUMA, AZ",32,15,7,9,15,7,6,17,...,6,5,17,7,8,242,71,52,YUMA,AZ
30,13964,"FORT SMITH, AR",49,9,6,16,9,6,14,9,...,6,13,10,7,15,123,95,147,FORT SMITH,AR
31,13963,"LITTLE ROCK, AR",35,9,6,16,9,6,13,9,...,6,13,9,6,16,119,100,147,LITTLE ROCK,AR
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
228,12917,"PORT ARTHUR, TX",42,7,6,18,8,6,15,7,...,7,13,8,6,17,95,117,153,PORT ARTHUR,TX
229,23034,"SAN ANGELO, TX",47,12,6,13,11,6,11,12,...,6,10,12,7,12,154,97,114,SAN ANGELO,TX
230,12921,"SAN ANTONIO, TX",53,9,6,16,8,6,14,9,...,7,13,10,6,16,105,119,141,SAN ANTONIO,TX
231,12912,"VICTORIA, TX",34,7,6,18,7,6,16,7,...,7,14,7,6,19,86,118,162,VICTORIA,TX
232,13959,"WACO, TX",50,9,6,16,9,6,14,10,...,6,12,11,6,15,130,98,136,WACO,TX
233,13966,"WICHITA FALLS, TX",50,11,6,14,10,6,12,11,...,6,11,12,6,13,151,93,120,WICHITA FALLS,TX
234,23176,"MILFORD, UT",40,9,8,14,8,8,12,9,...,8,11,10,8,13,151,104,111,MILFORD,UT
235,24127,"SALT LAKE CITY, UT",69,6,6,19,5,7,16,7,...,7,15,6,6,18,125,101,139,SALT LAKE CITY,UT
236,14742,"BURLINGTON, VT",52,5,6,20,4,7,17,6,...,5,22,3,6,22,58,101,206,BURLINGTON,VT
237,13733,"LYNCHBURG, VA",49,9,7,15,8,7,13,9,...,7,13,10,7,14,112,107,147,LYNCHBURG,VA
238,13737,"NORFOLK, VA",47,9,7,16,8,6,14,9,...,8,12,9,7,15,106,107,153,NORFOLK,VA
239,13740,"RICHMOND, VA",50,8,7,16,8,6,14,8,...,8,13,9,6,15,100,106,160,RICHMOND,VA
240,13741,"ROANOKE, VA",48,8,8,15,8,7,14,8,...,8,13,9,8,14,102,112,151,ROANOKE,VA
241,24227,"OLYMPIA, WA",54,2,4,25,2,4,22,3,...,5,23,2,4,26,52,84,228,OLYMPIA,WA
242,94240,"QUILLAYUTE, WA",29,3,3,24,4,4,21,4,...,5,22,4,4,24,51,75,239,QUILLAYUTE,WA
243,24281,"SEATTLE C.O., WA",24,3,5,23,3,6,19,4,...,6,21,3,5,23,71,93,201,SEATTLE C.O.,WA
244,24233,"SEATTLE SEA-TAC AP, WA",51,3,4,24,3,4,21,3,...,4,23,2,4,25,58,82,226,SEATTLE SEA-TAC AP,WA
245,24157,"SPOKANE, WA",48,3,4,24,3,5,20,5,...,5,22,3,4,24,86,88,191,SPOKANE,WA
246,24243,"YAKIMA, WA",49,4,5,22,4,6,18,6,...,6,19,4,5,22,109,92,164,YAKIMA,WA
247,3872,"BECKLEY, WV",32,5,5,21,4,5,18,5,...,7,18,5,6,21,60,95,210,BECKLEY,WV
248,13866,"CHARLESTON, WV",47,4,6,21,4,6,18,5,...,7,18,5,6,20,65,111,189,CHARLESTON,WV
249,13729,"ELKINS, WV",49,3,6,22,3,6,19,4,...,6,19,4,5,21,48,103,212,ELKINS,WV
250,3860,"HUNTINGTON, WV",34,4,6,21,4,5,19,5,...,6,19,5,5,21,63,99,203,HUNTINGTON,WV
251,14898,"GREEN BAY, WI",46,8,7,17,7,7,15,7,...,6,19,6,6,19,85,102,178,GREEN BAY,WI
252,14920,"LA CROSSE, WI",17,7,7,17,8,7,13,7,...,6,18,7,6,18,95,97,173,LA CROSSE,WI
253,14837,"MADISON, WI",49,7,6,17,7,6,15,6,...,6,18,6,6,19,89,96,180,MADISON,WI
254,14839,"MILWAUKEE, WI",55,7,6,18,6,6,15,6,...,6,18,6,6,19,90,100,175,MILWAUKEE,WI
255,24089,"CASPER, WY",45,7,8,16,6,8,14,6,...,8,14,8,8,15,107,111,147,CASPER,WY
256,24018,"CHEYENNE, WY",60,9,10,13,7,9,12,7,...,9,11,9,9,13,106,127,133,CHEYENNE,WY
257,24021,"LANDER, WY",49,8,10,13,7,10,12,7,...,10,12,10,10,12,114,122,129,LANDER,WY

In [27]:
weather_pd["CL_Annual_Check"] = pd.to_numeric(weather_pd["CL_Jan"]) + pd.to_numeric(weather_pd["CL_Feb"]) + pd.to_numeric(weather_pd["CL_Mar"]) + pd.to_numeric(weather_pd["CL_Apr"]) + pd.to_numeric(weather_pd["CL_May"]) + pd.to_numeric(weather_pd["CL_Jun"]) + pd.to_numeric(weather_pd["CL_Jul"]) + pd.to_numeric(weather_pd["CL_Aug"]) + pd.to_numeric(weather_pd["CL_Sep"]) + pd.to_numeric(weather_pd["CL_Oct"]) + pd.to_numeric(weather_pd["CL_Nov"]) + pd.to_numeric(weather_pd["CL_Dec"])
weather_pd.head(256)

,Station,Location,Year,CL_Jan,PC_Jan,CD_Jan,CL_Feb,PC_Feb,CD_Feb,CL_Mar,...,CD_Nov,CL_Dec,PC_Dec,CD_Dec,CL_Annual,PC_Annual,CD_Annual,City,State,CL_Annual_Check
0,13876,"BIRMINGHAM ,AL",37,7,6,18,7,6,15,7,...,13,8,7,16,99,111,155,BIRMINGHAM,AL,98
1,3856,"HUNTSVILLE, AL",27,7,6,18,7,6,16,7,...,14,8,6,18,100,101,164,HUNTSVILLE,AL,100
2,13894,"MOBILE, AL",47,8,6,17,8,7,14,9,...,12,9,6,16,102,116,147,MOBILE,AL,103
3,13895,"MONTGOMERY, AL",51,7,6,17,8,6,14,8,...,13,9,6,16,107,107,151,MONTGOMERY,AL,108
4,26451,"ANCHORAGE, AK",44,7,5,19,6,4,18,8,...,20,6,4,21,61,65,239,ANCHORAGE,AK,61
5,25308,"ANNETTE, AK",41,4,4,23,3,4,21,4,...,24,3,4,24,40,60,265,ANNETTE,AK,40
6,27502,"BARROW, AK",54,6,2,3,12,6,11,14,...,11,4,0,0,66,52,187,BARROW,AK,66
7,26615,"BETHEL, AK",34,8,5,18,10,4,14,9,...,19,8,5,18,62,65,239,BETHEL,AK,63
8,26533,"BETTLES,AK",5,15,5,11,10,4,14,9,...,14,9,7,15,86,93,187,BETTLES,AK,86
11,26411,"FAIRBANKS, AK",45,9,6,16,8,6,14,10,...,18,7,6,18,70,86,210,FAIRBANKS,AK,70
12,26425,"GULKANA,AK",5,15,4,12,6,4,18,9,...,21,7,7,17,67,89,209,GULKANA,AK,68
13,25507,"HOMER, AK",15,8,4,19,7,4,17,6,...,19,7,5,18,65,75,225,HOMER,AK,65
14,25309,"JUNEAU, AK",47,6,3,23,4,3,21,4,...,24,3,2,25,44,41,280,JUNEAU,AK,44
15,25503,"KING SALMON, AK",42,8,5,18,7,5,16,8,...,19,7,6,19,51,69,245,KING SALMON,AK,52
16,25501,"KODIAK, AK",25,5,6,20,6,5,18,6,...,16,6,6,19,59,74,232,KODIAK,AK,57
17,26616,"KOTZEBUE, AK",52,11,4,16,12,3,13,12,...,17,11,4,16,100,72,193,KOTZEBUE,AK,101
18,26510,"MCGRATH, AK",55,9,5,17,9,4,15,9,...,19,8,5,19,67,72,226,MCGRATH,AK,65
19,26617,"NOME, AK",51,10,4,17,12,4,13,11,...,18,10,4,17,91,69,205,NOME,AK,91
20,25713,"ST. PAUL ISLAND, AK",66,2,6,23,3,6,20,3,...,22,1,5,24,18,61,287,ST. PAUL ISLAND,AK,18
21,26528,"TALKEETNA, AK",10,6,4,21,8,4,16,9,...,19,5,2,22,67,67,225,TALKEETNA,AK,66
22,26627,"UNALAKLEET, AK",4,8,4,20,10,3,15,10,...,18,11,4,16,83,67,215,UNALAKLEET,AK,84
23,26442,"VALDEZ, AK",26,5,4,21,5,3,20,8,...,20,5,3,23,57,57,251,VALDEZ,AK,57
24,25339,"YAKUTAT, AK",48,5,3,22,4,3,21,5,...,23,4,3,24,41,46,278,YAKUTAT,AK,41
25,3103,"FLAGSTAFF, AZ",43,12,6,12,11,6,11,12,...,8,14,6,11,162,102,102,FLAGSTAFF,AZ,161
26,23183,"PHOENIX, AZ",57,14,7,10,13,7,9,14,...,6,15,6,9,211,85,70,PHOENIX,AZ,212
27,23160,"TUCSON, AZ",55,14,7,10,13,7,9,15,...,6,15,6,10,193,91,81,TUCSON,AZ,194
28,23194,"WINSLOW, AZ",37,12,7,12,12,7,10,13,...,8,14,7,10,177,99,89,WINSLOW,AZ,179
29,23195,"YUMA, AZ",32,15,7,9,15,7,6,17,...,5,17,7,8,242,71,52,YUMA,AZ,242
30,13964,"FORT SMITH, AR",49,9,6,16,9,6,14,9,...,13,10,7,15,123,95,147,FORT SMITH,AR,125
31,13963,"LITTLE ROCK, AR",35,9,6,16,9,6,13,9,...,13,9,6,16,119,100,147,LITTLE ROCK,AR,119
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
228,12917,"PORT ARTHUR, TX",42,7,6,18,8,6,15,7,...,13,8,6,17,95,117,153,PORT ARTHUR,TX,96
229,23034,"SAN ANGELO, TX",47,12,6,13,11,6,11,12,...,10,12,7,12,154,97,114,SAN ANGELO,TX,155
230,12921,"SAN ANTONIO, TX",53,9,6,16,8,6,14,9,...,13,10,6,16,105,119,141,SAN ANTONIO,TX,105
231,12912,"VICTORIA, TX",34,7,6,18,7,6,16,7,...,14,7,6,19,86,118,162,VICTORIA,TX,86
232,13959,"WACO, TX",50,9,6,16,9,6,14,10,...,12,11,6,15,130,98,136,WACO,TX,131
233,13966,"WICHITA FALLS, TX",50,11,6,14,10,6,12,11,...,11,12,6,13,151,93,120,WICHITA FALLS,TX,152
234,23176,"MILFORD, UT",40,9,8,14,8,8,12,9,...,11,10,8,13,151,104,111,MILFORD,UT,152
235,24127,"SALT LAKE CITY, UT",69,6,6,19,5,7,16,7,...,15,6,6,18,125,101,139,SALT LAKE CITY,UT,125
236,14742,"BURLINGTON, VT",52,5,6,20,4,7,17,6,...,22,3,6,22,58,101,206,BURLINGTON,VT,59
237,13733,"LYNCHBURG, VA",49,9,7,15,8,7,13,9,...,13,10,7,14,112,107,147,LYNCHBURG,VA,111
238,13737,"NORFOLK, VA",47,9,7,16,8,6,14,9,...,12,9,7,15,106,107,153,NORFOLK,VA,105
239,13740,"RICHMOND, VA",50,8,7,16,8,6,14,8,...,13,9,6,15,100,106,160,RICHMOND,VA,99
240,13741,"ROANOKE, VA",48,8,8,15,8,7,14,8,...,13,9,8,14,102,112,151,ROANOKE,VA,103
241,24227,"OLYMPIA, WA",54,2,4,25,2,4,22,3,...,23,2,4,26,52,84,228,OLYMPIA,WA,53
242,94240,"QUILLAYUTE, WA",29,3,3,24,4,4,21,4,...,22,4,4,24,51,75,239,QUILLAYUTE,WA,53
243,24281,"SEATTLE C.O., WA",24,3,5,23,3,6,19,4,...,21,3,5,23,71,93,201,SEATTLE C.O.,WA,71
244,24233,"SEATTLE SEA-TAC AP, WA",51,3,4,24,3,4,21,3,...,23,2,4,25,58,82,226,SEATTLE SEA-TAC AP,WA,56
245,24157,"SPOKANE, WA",48,3,4,24,3,5,20,5,...,22,3,4,24,86,88,191,SPOKANE,WA,85
246,24243,"YAKIMA, WA",49,4,5,22,4,6,18,6,...,19,4,5,22,109,92,164,YAKIMA,WA,108
247,3872,"BECKLEY, WV",32,5,5,21,4,5,18,5,...,18,5,6,21,60,95,210,BECKLEY,WV,59
248,13866,"CHARLESTON, WV",47,4,6,21,4,6,18,5,...,18,5,6,20,65,111,189,CHARLESTON,WV,66
249,13729,"ELKINS, WV",49,3,6,22,3,6,19,4,...,19,4,5,21,48,103,212,ELKINS,WV,46
250,3860,"HUNTINGTON, WV",34,4,6,21,4,5,19,5,...,19,5,5,21,63,99,203,HUNTINGTON,WV,65
251,14898,"GREEN BAY, WI",46,8,7,17,7,7,15,7,...,19,6,6,19,85,102,178,GREEN BAY,WI,85
252,14920,"LA CROSSE, WI",17,7,7,17,8,7,13,7,...,18,7,6,18,95,97,173,LA CROSSE,WI,95
253,14837,"MADISON, WI",49,7,6,17,7,6,15,6,...,18,6,6,19,89,96,180,MADISON,WI,87
254,14839,"MILWAUKEE, WI",55,7,6,18,6,6,15,6,...,18,6,6,19,90,100,175,MILWAUKEE,WI,89
255,24089,"CASPER, WY",45,7,8,16,6,8,14,6,...,14,8,8,15,107,111,147,CASPER,WY,106
256,24018,"CHEYENNE, WY",60,9,10,13,7,9,12,7,...,11,9,9,13,106,127,133,CHEYENNE,WY,108
257,24021,"LANDER, WY",49,8,10,13,7,10,12,7,...,12,10,10,12,114,122,129,LANDER,WY,115

In [28]:
#Checking to see whether two columns are equal - since theyre not equal, will go ahead and use CL_annual number
weather_pd['CL_Annual_Check'].equals(weather_pd['CL_Annual'])

False

In [29]:
#Only using columns that we need
weather_updated = weather_pd[["City", "State", "Station", "CL_Annual"]]
weather_updated.head()

          City State  Station  CL_Annual
0  BIRMINGHAM     AL    13876         99
1   HUNTSVILLE    AL     3856        100
2       MOBILE    AL    13894        102
3   MONTGOMERY    AL    13895        107
4    ANCHORAGE    AK    26451         61

In [30]:
# Merging on Inner
#print pd.merge(weather_updated, crime_final, on='City', how='inner')

In [31]:
#Dropping NAS
#pd.dropna(inplace = True)